// Specific CSS for your home-page
body {
  background-color: #0c002b;
}

.container {
  width: 51%;
  margin-left: 20%;
  margin-top: 2%;
}

a {
  text-decoration: none;
  color: black;
    &:hover {
      text-decoration: none;
    }
}
