<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Get your app reviews easily!</h1>
    <p>Work with your teammate to take an action faster for your application reviews on Google Play Store</p>
    <a class="btn btn-gradient" href="#">Dashboard</a>
  </div>
</div>

<div class="text-center m-5">
  <h2 class="p-3">App review analysis in minutes, not days…</h2>
  <p class="container pb-4 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam </p>
</div>

<div class="cards-grid m-5">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1434626881859-194d67b2b86f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80)">
  
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1902&q=80)">
  
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
  
  </div>
</div>
