<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Get your app reviews easily!</h1>
    <p>Work with your teammate to take an action faster for your application reviews on Google Play Store</p>
    <%= link_to 'Find Your App', search_path, class: "btn btn-flat" %>
  </div>
</div>


<div id="details" class="text-center mx-auto my-5 w-50">
  <h2 class="p-3">App review analysis in minutes, not days…</h2>
  <p class="pb-4 pt-3">See what play store reviews are about without lifting a finger. Make better, faster decisions about your product roadmap, based on the feedback and sentiment of real users. ViewBot provides fully automated, easy-to-understand review analysis for mobile app reviews. Measure trends in user sentiment, review volume and star rating over time so you can see what users think of changes you make to your apps. </p>
</div>


  <div id="boxes">
    <div class="container-box">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Service one</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dolorem provident consequuntur laboriosam itaque reiciendis iste sequi ipsam laborum quasi velit ea et porro nemo, error doloremque voluptatibus maiores eos.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Service two</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dolorem provident consequuntur laboriosam itaque reiciendis iste sequi ipsam laborum quasi velit ea et porro nemo, error doloremque voluptatibus maiores eos.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Service three</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dolorem provident consequuntur laboriosam itaque reiciendis iste sequi ipsam laborum quasi velit ea et porro nemo, error doloremque voluptatibus maiores eos.
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>

