<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Get your app reviews easily!</h1>
    <p>Work with your teammate to take an action faster for your application reviews on Google Play Store</p>
    <a class="btn btn-gradient" href="#">Dashboard</a>
  </div>
</div>
