<div class="container">
    <h1>Find Your Super Hero</h1>
    <%= form_tag applications_path, method: :get, class: "form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Application name.."
      %>
     <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="fab fa-searchengin"></i>
      <% end %>
    <% end %>
</div>