<div class="container" >
  
    <h1 id="searching">Find an existing application</h1>
   
    <%= form_tag applications_path, method: :get, class: "form" do %>
   
    <div class="d-flex", id="section">      
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Application name.."
      %>
     <%= button_tag(type: "submit", class: "btn btn-flat-reverse") do %>
        <i class="fab fa-searchengin"></i>
      
      <% end %>
      </div>
    <% end %>   
</div>
