// Specific CSS for your home-page
body {
  background-color: #0c002b;
  color: white;
}

a {
  text-decoration: none;
  color: white;
    &:hover {
      text-decoration: none;
      color: #0c002b;
    }
}