.filter-border {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter-border-left {
  border-left: 1px solid #C0392B;
}

.review-border {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #C0392B;
}

.review-border-link {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #C0392B;
}