#searching{
  text-align: center;
  margin-top: 40vh;
}
#section {
  justify-content: center;
  #query {
    width: 50%;
    margin-top: 5px;    
  }
  .btn.btn-flat-reverse{
    height: 37px;
    margin-top: 5px; 
    
  }
}